/mvnw text eol=lf
*.cmd text eol=crlf

176 x 11
tiva,company_id,nome,uf_origem,usuario_id,id) values ($1,$2,$3,$4,$5,$6)
tma-app | 2026-05-12T20:13:51.338Z WARN 1 --- [app] [nio-8080-exec-4] org.hibernate.orm.jdbc.error : HHH000247: ErrorCode: 0, SQLState: 23502
tma-app | 2026-05-12T20:13:51.338Z WARN 1 --- [app] [nio-8080-exec-4] org.hibernate.orm.jdbc.error : ERROR: null value in column "usuario_id" of relation "tabela_frete" violates not-null constraint
tma-app | Detail: Failing row contains (202, 252, SP, Tabela SP 2025, t, null).
tma-app | 2026-05-12T20:13:51.344Z ERROR 1 --- [app] [nio-8080-exec-4] o.a.c.c.C.[.[.[/].[dispatcherServlet] : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed: org.springframework.dao.DataIntegrityViolationException: could not execute statement [ERROR: null value in column "usuario_id" of relation "tabela_frete" violates not-null constraint
tma-app | Detail: Failing row contains (202, 252, SP, Tabela SP 2025, t, null).] [insert into tabela_frete (ativa,company_id,nome,uf_origem,usuario_id,id) values (?,?,?,?,?,?)]; SQL [insert into tabela_frete (ativa,company_id,nome,uf_origem,usuario_id,id) values (?,?,?,?,?,?)]; constraint [usuario_id]] with root cause
tma-app |
tma-app | org.postgresql.util.PSQLException: ERROR: null value in column "usuario_id" of relation "tabela_frete" violates not-null constraint
tma-app | Detail: Failing row contains (202, 252, SP, Tabela SP 2025, t, null).
tma-app | at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2875) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2560) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:429) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:526) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:436) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.jdbc.PgPreparedStatement.executeWithFlags(PgPreparedStatement.java:196) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at org.postgresql.jdbc.PgPreparedStatement.executeUpdate(PgPreparedStatement.java:157) ~[postgresql-42.7.10.jar!/:42.7.10]
tma-app | at com.zaxxer.hikari.pool.ProxyPreparedStatement.executeUpdate(ProxyPreparedStatement.java:61) ~[HikariCP-7

Read TabelaFrete.java

Read TabelaFreteController.java

Read TabelaFreteService.java

Read TabelaFreteRequest.java

Read authentication

Read CompanyApiKeyFilter.java

Processing